html,
body {
  background-color: #111;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #00caff;
  font-weight: 100;
  font-size: 20vw;
  margin: 0;
  padding-bottom: 2vw;
}

button {
  cursor: pointer;
  background: transparent;
  border-radius: 0;
  border: 0.15vw solid #00caff;
  color: #00caff;
  font-size: 4vw;
  font-weight: 100;
  margin: 0;
  outline: none;
  padding: 0 3vw;
  transition: background 0.3s;
}
button + button {
  margin-left: 1vw;
}

button:hover,
button:active {
  background: #00caff;
  color: #111;
}
button:active {
  outline: 0.3vw solid #00caff;
}
button:disabled {
  cursor: not-allowed;
  background: lightgray;
  color: #111;
}
